.main {
    display: block;
    padding-top: 80px;
}

.image {
    display: block;
    width: 292px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}

/* 584*6 */
input{
    display: block;
    width: 428px;
    line-height: 24px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    margin-top: 0;
    
}
.inputm{
    display: block;
    width: 482px;
    line-height: 40px;
    border: 1px solid #dadce0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 11px;
    border-radius: 50px;
    padding-bottom: 0px;
    margin-bottom: 18px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn{
    border: 1px solid #f8f9fa;
    margin-top: 7px;
    border: 30px;
    padding: 11px;
    margin: 12px;
    border-radius: 4px;
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 1px 1px 1px rgba(29, 27, 27, 0.288)
}

.foot{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #4d5156;
    display: block;
    width: 534px;
    line-height: 28px;
    margin-left: auto;
    margin-right: auto;
}

.a{
    padding-right: 3px;
    padding-left: 3px;
}

footer{
    margin-top: 180px;
    text-align: center;
}