body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.main{
    display: flex;
    width: 445px;
    margin: 100px auto;
    justify-content: space-around;
    padding: 24px;
    background-color: #faf0ca;
    border-radius: 16px;
    color: #0d3b66;
    box-shadow: 3px 4px 5px #f4d35e;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.main:hover{
    box-shadow: 4px 5px 6px #f95738;
}

img{
    width: 180px;
    height: 180vpx;
    border-radius: 12px;
    box-shadow: 3px 4px 5px #f4d35e;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

img:hover{
    transform: scale(1.01);
    box-shadow: 4px 5px 6px #f95738;
}

.content{
    margin-top: 10px;
}

.center{
    text-align: center;
    transition: 0.3s ease-in-out;
}

h3{
    transition: 0.3s ease-in-out;
}

h3:hover{
    /* box-shadow: 0px 2.8px 0px #f95738; */
    text-decoration: underline 2px red;
}

.center:hover{
    box-shadow: 0px 2.8px 0px #f95738;
}

footer{
    margin-top: 120px;
}