body {
    color: white;
    background-image: url("./images/earth.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 50px auto;
    text-shadow: 4px 4px 4px black;
}

/* .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid white;
    max-width: 600px;
} */

#main-logo {
    width: 400px;
    margin-bottom: 40px;
}

h1{
    font-size: 34px;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
}

.underline {
    border-bottom: 4px solid white;
}

p{
    color: whitesmoke;
    font-weight: bolder;
    margin-top: 10px;
}

footer{
    margin-top: 35px;
    font-size: smaller;
}