body{
    background: url(./bjg.png);
    background-size: cover;
    color: whitesmoke;
    font-family: "Black Ops One", system-ui;
    /* text-align: center; */
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px auto;
    max-width: 750px;
    border-radius: 12px;
    /* text-shadow: 2px 2px 2px black; */
    background: rgba(255, 255, 255, 0.02);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

h1{
    font-size: 48px;
    font-weight: 600;
}

button, p, h2{
    font-size: 24px;
    font-weight: 400;
}

button{
    font-family: "Black Ops One", system-ui;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    margin: 45px auto;
}

.btn-1, .btn-2{
    padding: 8px;
    border-radius: 6px;
    border-color: whitesmoke;
}

.btn-1:hover, .btn-2:hover{
    box-shadow: 6px 6px 45px #fca649;
}

footer{
    width: 600px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.foot{
    display: flex;
    margin: 0 auto;
    max-width: 650px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}
